<mat-card>
  <form [formGroup]="form" (ngSubmit)="auth.createUser(form.value)">
    <mat-form-field>
      <input
        matInput
        placeholder="username"
        type="text"
        formControlName="username"
      />
    </mat-form-field>
    <br />
    <!--  <mat-form-field>
      <input matInput placeholder="role" type="text" fromControlName="role" />
    </mat-form-field>-->
    <mat-label>User Role</mat-label>
    <mat-select formControlName="userrole">
      <mat-option *ngFor="let role of roles" [value]="role.name">
        {{ role.name }}
      </mat-option>
    </mat-select>
    <br />
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        type="email"
        formControlName="email"
      />
    </mat-form-field>
    <br />
    <!--  #create default password on backend <mat-form-field>
      <input
        matInput
        placeholder="Password"
        type="password"
        formControlName="password"
      />
    </mat-form-field>
    <br />-->
    <button mat-raised-button color="primary" type="submit">Create User</button>
  </form>
</mat-card>
