<mat-card>
  <form [formGroup]="form" (mgSubmit)="auth.createUser(form.value)">
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        type="email"
        fromControlName="email"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        type="password"
        formControlName="password"
      />
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary">Login</button>
  </form>
</mat-card>
