<mat-card>
  <form [formGroup]="form" (mgSubmit)="auth.createUser(form.value)">
    <mat-form-field>
      <input
        matInput
        placeholder="username"
        type="text"
        fromControlName="username"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="role" type="text" fromControlName="role" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        type="email"
        fromControlName="email"
      />
    </mat-form-field>
    <br />
    <!--  #create default password on backend <mat-form-field>
      <input
        matInput
        placeholder="Password"
        type="password"
        formControlName="password"
      />
    </mat-form-field>
    <br />-->
    <button mat-raised-button color="primary">Create User</button>
  </form>
</mat-card>
